html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  height: 100px;
}

.footer-pic img {
 display: block;
 max-height: 100px;
}

.doctors-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.doctors-info-container a {
    color: #303030;
    text-decoration: none;
    width: 300px;
    border: 1px solid gray;
    margin: 30px;
    border-radius: 5px;
}

.profile-picture {
    border: 1px solid lightgray;
    min-height: 100px;
    height: 270px;
    margin: -10px auto 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

.doctors-name {
    font-size: 20px;
    font-weight: 600;
}
