@page "/doctors/result"
@model HospitalRegistration.Pages.Doctors.ResultModel
@{
    Layout = "../Shared/_LayoutHospital.cshtml";
    ViewData["Title"] = "Search results";
}

   @*// cia bus daktaro modelis su visais options del daktaro asignments, perkelimo, istrynimo ir panasiai
       cia bus ir daktaro pacientu listas
   *@
   <h2>@Model.Doctor.Name Details</h2>
<div class="container-fluid result-detail">
    <a href="" asp-page="doctors">
        <span style="font-size: 20px;">&#8678;</span> @*hover keiciasi spalva*@
        <p></p>
    </a>
    doctor details
    delete doctor
    reasign doctor
    get all patients of this doctor
    asign patient to this doctor from list
    asign this doctor to different department
    remove department from this doctor
    asign specialty to this doctor
    delete specialty of this doctor
    change profile picture
    edit profile
</div>
