@page
@using HospitalRegistration.BusinessLogic.Services
@using HospitalRegistration.Pages
@model IndexModel

@{
    Layout = "Shared/_LayoutHospital.cshtml";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Hello there</h3>
</div>
