@page
@model HospitalRegistration.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>@ViewData["Title"]</h1>
<p>This is where you going to register new patients, doctors and illnesses.</p>
<p>This will be done via drop down lists</p>
